
.jumbotron {
     width: auto;
     height: 500px;
     background: none;
     background-image: url("http://edu-geography.com/data_images/countries/patagonia/patagonia-08.jpg");
     margin-bottom: 5px;
     font-size: 10px;
     font-weight: 200;
     line-height: 2.1428571435;
 }
.aboutpatagonia {
    float: center;
}
.container {
  width: auto;
  margin-top: 50px;

}
.more {
  width: auto;
  float:right;
}
.col-md-12 {
  border: 1px #000 solid;
  border-radius: 15px black;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

h1 {
  margin-left: 25px;
}

p {
  margin-left: 25px;
}
