.jumbotron {
     position: fixed;
     width: 100%;
     height: 40%;
     background: none;
     background-image: url("http://edu-geography.com/data_images/countries/patagonia/patagonia-08.jpg");
     padding: 5px;
     margin-bottom: 20px;
     font-size: 10px;
     font-weight: 200;
     line-height: 2.1428571435;
 }
